/*--------------------------------------------------------------------
		Header // Footer
--------------------------------------------------------------------*/
#header { 
	width: 100%; 
	display: block; 
	position: fixed; 
	z-index: 999; /*Use with cause*/ 
	left: 0; 
	top:0;
	height: 50px;
	background-color: rgba(255,255,255,.9); 
}

#logo {
	display: block;
	text-align: center;
	padding: 10px 0 0;
}

#logo > img { 
	display: inline;
}



/*--------------------------------------------------------------------
		Layout
--------------------------------------------------------------------*/

#content {
	padding-top: 100px;
}

h1 {
	text-align: center;
}

p {
	font-size: 14px;
	line-height: 24px;
}

.post {
	padding: 20px;
	width: 60%;
	background-color: #eee;
	border:1px solid #ccc;
	margin: 5px auto;
	text-align: center;
}

.date {
	display: block;
	width: 80px;
	height: 60px;
	padding-top: 20px;
	background: #000;
	margin: 0 auto;
	border: 5px solid #FFF;
	
}

.date > span {
	display: block;
	color: #FFF;
	text-transform: uppercase;
	font-weight: bold;
}

.date > .month {
	font-size: 14px;
}

.date > .day {
	font-size: 26px;
}


/*--------------------------------------------------------------------
		Some CSS for mobile
--------------------------------------------------------------------*/
@media only screen and (max-width: 767px)
{
	#header { position: relative; height: 45px; }
	#logo { padding: 0; } 	
	
}